/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #001632;
}

html {
    font-size: 1.2rem;
    color: #161e33
}

/* COMMONS */
h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #7e8a98;
}

h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #ffffff;
}

.user-interaction {
    background-color: #f8f9fa;
}